# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\_-_Mehrdad_-_\Univercity\Files_And_Documents\Documents\Term-04\Programs\Amazon Scrapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
